* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.div-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border: 2px solid black;
    width: 960px;
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#error {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

button {
    margin: 10px;
    padding: 10px 15px;
    background-color: tomato;
    color: #112A46;
    font-size: 16px;
    border: 2px solid #112A46;
}

button:hover {
    background-color: rgb(226, 82, 57);
}

button:active {
    background-color: slateblue;
    color: white;
}
